/*
.navbar-inverse {
    background-color: #cf4646;
    border-color: transparent;
  }
  .navbar-inverse .navbar-brand {
    color: #efefef;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #CA3131;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #fff;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }
*/
body{ padding-top: 70px;margin: 0;  font-size:14px; color:#333333   }

/* navbar */
.navbar-default {
  background-color: #cf4646;
  border-color: #E7E7E7;
  }
  /* title */
  .navbar-default .navbar-brand {
  color: #fff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
  color: #fff;
  }
  /* link */
  .navbar-default .navbar-nav > li > a {
  color: #fff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  }
  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgb(231, 74, 74);
  }
  .navbar-default .navbar-nav > .open > a, 
  .navbar-default .navbar-nav > .open > a:hover, 
  .navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
  }
  /* caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
  }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
  }
  .navbar-default .navbar-nav > .open > a .caret, 
  .navbar-default .navbar-nav > .open > a:hover .caret, 
  .navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
  }
  /* mobile version */
  .navbar-default .navbar-toggle {
  border-color: #DDD;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
  background-color: #DDD;
  }
  .navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
  }
  @media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333;
  }
  }
.col-list {
  border:1px solid #E5e5e5;background:#ffffff;
  border-radius:10px;
  box-shadow: 1px 1px 1px 1px #E5e5e5;
  text-align: center;
  margin: 3px;
}



.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
  color: #99979c;
  text-align: center;
  width:100%;
  background-color: rgb(245, 240, 240)
}

.bs-docs-footer a {
  color: #cf4646
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px
}

.bs-docs-footer-links li {
  display: inline-block
}

.bs-docs-footer-links li + li {
  margin-left: 15px
}

@media (min-width:768px) {
  .bs-docs-footer {
      text-align: left
  }

  .bs-docs-footer p {
      margin-bottom: 0
  }
}


.pagination {  
  height: 40px;  
  margin: 20px 0;  
}  
.pagination ul {  
  border-radius: 3px 3px 3px 3px;  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);  
  display: inline-block;  
  margin-bottom: 0;  
  margin-left: 0;  
}  
.pagination li {  
  display: inline;  
}  
.pagination a, .pagination span {  
  -moz-border-bottom-colors: none;  
  -moz-border-left-colors: none;  
  -moz-border-right-colors: none;  
  -moz-border-top-colors: none;  
  background-color: #FFFFFF;  
  border-color: #cf4646;  
  border-image: none;  
  border-style: solid;  
  border-width: 1px 1px 1px 0;  
  float: left;  
  line-height: 38px;  
  padding: 0 14px;  
  text-decoration: none;  
}  
.pagination a:hover, .pagination .active a, .pagination .active span {  
  background-color: #cf4646;  
  border-color: #cf4646;  

}  
.pagination .active a, .pagination .active span {  
  color: #ffffff;  
  cursor: default;  
}  
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {  
  background-color: transparent;  
  color: #ffffff;  
  cursor: default;  
}  
.pagination li:first-child a, .pagination li:first-child span {  
  border-left-width: 1px;  
  border-radius: 3px 0 0 3px;  
}  
.pagination li:last-child a, .pagination li:last-child span {  
  border-radius: 0 3px 3px 0;  
}  
.pagination-centered {  
  text-align: center;  
}  
.pagination-right {  
  text-align: right;  
}  


.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}